.navbar-nav > li{
  padding-left:50px;
  padding-right:50px;
}
.first{
	text-align:center;
	background-color:black;
	color:white;
	  font-family: "Times New Roman";
	 background-image: url('index.jpg');
padding-left:50px;
  padding-right:50px;
	  
}    


/**********/
.bg-white{
	background-color: red;
	z-index:30;
}
.navbar {
	margin: 0;
	background-color: #111111;
	padding:10px 0;
 }
 .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav .nav-item .active{
	font-size:21px
}
.navbar-nav .nav-item{
	color:white;
	font-size:18px;
	margin:0 10px
}
._bg-black{
	background-color: #111111;
	margin:0;
}
.text-white{
	color:white;
}
.text1{
	padding-top:40px;
}
._btn-white{
	border:1px solid white;
	background-color:white;
	border-radius:30px;
	padding:7px 30px;
	margin:20px auto;
	color:#111111;
}
.header-img{
	margin-top:30px;
}
@media(min-width:300px){
	.header-img{width:90%}
}
@media(min-width:768px){
	.header-img{width:70%}
	.text1{ font-size:2.9em}
	.text2{font-size:1.8em}
	.text3{font-size:1em}
}
@media(min-width:992px){
	.header-img{width:60%}
	.text1{ font-size:3.2em}
	.text2{font-size:2em}
	.text3{font-size:1.1em}
}
@media(min-width:1200px){
	.header-img{width:50%}
}

